{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "no-tabs": 0,
    "indent": ["error", "tab"],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [0, 'tab'],
    "react/destructuring-assignment": ["off", "never"],
    "func-names": ["off", "as-needed"],
    "react/prefer-stateless-function": [0, { ignorePureComponents: true }],
    "react/require-default-props": [1],
    "import/prefer-default-export": ["off"],
    "jsx-ally/click-events-have-key-events": ["off"]
  }
}
